.text {
    margin: center;
    font-size: xx-large;
    text-align: center;
    color: yellow;
}

p {
    margin: center;
    color: yellow;
    text-align: center;
}
.anhconKim{
    margin-left: 10%;
    align-items: center;
    position:absolute;
    
}

.anhSinh { 
    right: 20%;
    align-items: center;
    height: 630px;
    width: 486px;
    position: absolute;
}

.nut {
    
    position: absolute;
    margin-top: 1000px;
    width: 240px;
    height: 20px;
}